*~
*.aux
*.bbl
*.blg
*.dvi
*.lof
*.log
*.lot
*.out
*.out.in
*.ps
*.toc
MPG.tex
MPG.tex.in
acks.tex
b-advanced.tex
b-started.tex
c-bin-packing.tex
c-crossword.tex
c-golf.tex
c-golomb.tex
c-kakuro.tex
c-knights.tex
c-magic-sequence.tex
c-nonogram.tex
c-photo.tex
c-warehouses.tex
changelog.tex
int.hh
intro.tex
m-branch.tex
m-comfy.tex
m-driver.tex
m-float.tex
m-gist.tex
m-group.tex
m-integer.tex
m-minimodel.tex
m-search.tex
m-set.tex
m-started.tex
p-advisors.tex
p-avoid.tex
p-domain.tex
p-floats.tex
p-memory.tex
p-reified.tex
p-sets.tex
p-started.tex
p-views.tex
s-engine.tex
s-recomputation.tex
s-started.tex
titles.tex
titles.tex.in
v.tex
Boolean-domain-expression.cpp
assign-min.cpp
bab-using-full-recomputation.cpp
bab.cpp
bin-packing-branching.cpp
bin-packing-naive.cpp
bin-packing-propagation.cpp
cpp
crossword-optimized.cpp
crossword.cpp
dfs-binary.cpp
dfs-engine.cpp
dfs-using-adaptive-recomputation.cpp
dfs-using-full-recomputation-and-lao.cpp
dfs-using-full-recomputation.cpp
dfs-using-hybrid-recomputation.cpp
dfs.cpp
disequality.cpp
domain-equal-using-bounds-propagation.cpp
domain-equal-using-staging.cpp
domain-equal-with-and-without-offset.cpp
domain-equal-with-offset.cpp
equal-idempotent-using-modification-events.cpp
equal-idempotent.cpp
equal-naive.cpp
equal.cpp
example-search-tracer.cpp
general-tracer.cpp
golf.cpp
golomb.cpp
integer-variable-tracer.cpp
intersection.cpp
kakuro-naive.cpp
kakuro.cpp
knights.cpp
latin-square-ldsb.cpp
less-better.cpp
less-concise.cpp
less-even-better.cpp
less-for-integer-and-Boolean-variables.cpp
less-or-equal-reified-full.cpp
less-or-equal-reified-half.cpp
less.cpp
linear.cpp
local-object-and-handle.cpp
local-object-with-external-resources.cpp
magic-sequence-gcc.cpp
magic-sequence.cpp
max-using-rewriting.cpp
min-and-max.cpp
naive-domain-equal.cpp
non-shared-domain-equal.cpp
none-min-and-none-max.cpp
none-min-improved.cpp
none-min-with-no-good-support.cpp
none-min.cpp
nonogram.cpp
or-and-and-from-or.cpp
or-true-concise.cpp
or-true-using-rewriting.cpp
or-true-with-dynamic-subscriptions.cpp
or-true.cpp
or.cpp
photo-without-modeling-support.cpp
photo.cpp
putting-everything-together.cpp
samedom-using-predefined-view-advisors.cpp
samedom.cpp
send-more-money-de-mystified.cpp
send-more-money-with-gist-comparison.cpp
send-more-money-with-gist-inspection.cpp
send-more-money-with-gist.cpp
send-more-money.cpp
send-most-money-with-cost.cpp
send-most-money-with-driver.cpp
send-most-money.cpp
shared-object-and-handle.cpp
size-min.cpp
warehouses.cpp
MPG.pdf
